# Python
__pycache__
*.pyc
*.pyo
*.pyd
.python
env/
venv/
.venv/
*.egg-info/

# Frontend
frontend/node_modules
frontend/build
frontend/.env.local

# MLflow
mlruns/
mlartifacts/
*.db
*.sqlite3

# Git
.git
.gitignore

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log